<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inserir Aluno</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

<div class="container" style="margin-top:3%;">
    <h1>Alterar Alunos</h1>
    <hr>
    <br>
    <form action="/alterar" method="post" th:object="${aluno}">
        <input type="hidden" th:field="*{id}">
        <div class="row"></div>
        <div class="col-md-5 form-group">
            <label>Nome do Aluno: </label>
            <input class="form-control" placeholder="EX: João da Silva" th:field="*{nome}">
        </div>

        <div class="col-md-5 form-group">
            <label>Selecione o Curso: </label>
            <select class="form-control" th:field="*{curso}">
                <option th:each="curso : ${T(br.com.academy.Enums.Curso).values()}" th:value="${curso}" th:text="${curso.name()}"></option>
            </select>
        </div>

        <div class="col-md-5 form-group">
            <label>Selecione o status: </label>
            <select class="form-control" th:field="*{status}">
                <option th:each="status : ${T(br.com.academy.Enums.Status).values()}" th:value="${status}" th:text="${status.name()}"></option>
            </select>
        </div>

        <div class="col-md-5 form-group">
            <label>Gerar Matrícula: </label>
            <input readonly="readonly" class="form-control" id="matricula" th:field="*{matricula}">
            <button type="button" onclick="GerarMatricula();" class="btn btn-dark" style="margin-top:1%;">Gerar</button>
        </div>

        <div class="row" style="margin-right:15%;">
            <button type="submit" class="btn btn-success offset-md-4">Salvar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-danger offset-md-0">Voltar</button>
        </div>

    </form>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
